from ttpcdjango.base_settings import * 

## Uncomment this for development
# SECURITY WARNING: don't run with debug turned on in production!
#DEBUG = True


##Database connection info; adjust as needed

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
    }
}