from ttpcdjango.base_settings import *

## Uncommment this for development
# DEBUG = True

## Database connection information; adjust as needed
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
    }
}
