<!DOCTYPE html>
<html>
<head>
	<title>Calculator Form</title>
</head>
<body text="#FF00FF">
    <div style="width:600px;">
    <strong>What book title might grab purchasers' attention?</strong>
    <br><br>
Have you wondered whether a word choice between, say, "Tattoo" or "Ink" might make your book stand out? The number of tattooing publications seems to increase every year. How can your book compete better in a flooded market?
<br><br>
Use this <strong>Tattoo Title Popularity Calculator</strong>, a joint project from <a href="https://tattoohistorian.com/" target="_blank">tattoohistorian.com</a> and <a href="https://centerfortattoo.org/" target="_blank">the Center for Tattoo History and Culture</a>, to find out how many libraries your book might end up in over time:
    </div>
    <form method="post" action="." novalidate>{% csrf_token %}
    	{{ form.as_p }}
    	<input type="submit" name="submit" value="{% if calculator_result %}Redo Your Query{% else %}Enter{% endif %}" />
    </form>
    {% if calculator_result %}
    <hr>
    <div style="width:600px;">
    Your book will be held in 
    {{ calculator_result }}
    libraries.
    <br><br>
    <strong>How was this number calculated?</strong><br><br>It uses a predictive analytics model based on library holdings of 5313 tattoo books published since 1850 that come up in a general keyword search for the word stem "tattoo*" in the WorldCat global archive. If you are interested in the nerdy, nitty-gritty details, you can find them <a href="https://github.com/annafelicity/predicting_popularity" target="_blank">here</a>.
    </div>
    {% endif %}

<div style="width:600px;">
<br>
&copy; 2017 Anna Felicity Friedman<br>Many thanks to all the people who through their mentorship and teaching helped make this calculator possible!
</div>
</body>
</html>